:root {
  --grey1: #f5f6fa;
  --grey2: #fafafa;
  --blue: #5c6bec;
  --blue2: #4856bf;
  --pink: #ffa0c2;
  --white: #ffffff;
  --white2: #fefefe;
  --font-dark: #322f3a;
  --font-light: #757479;
  --font-lighter: #cfcfcf;
  --font-logo: #45424b;
  --font: 'Oxygen', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

.wrapper {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
}

.btn {
  width: 170px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  font-weight: 700;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color .2s;
}

.btn:hover {
  background-color: var(--blue2);
}

.btn--alt {
  color: var(--blue);
  background-color: unset;
  border: 2px solid var(--blue);
  transition-property: background-color, color;
  transition-duration: .2s;
}

.btn--alt:hover {
  color: var(--white);
  background-color: var(--blue);
}

.btn--long {
  width: 220px;
  height: 50px;
}

.btn--small {
  width: 150px;
  height: 50px;
}

/*----- HEADER & NAV -----*/

.header {
  width: 100vw;
  background-color: var(--grey1);
}

.header__content {
  box-sizing: border-box;
  padding-top: 60px;
  margin: auto;
  width: 100;
  max-width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-ct {
  display: flex;
  align-items: baseline;
}

.header__logo {
  height: 50px;
}

.header__logo-txt {
  margin-left: 20px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 2rem;
  color: var(--font-logo);
  transform: translateY(-2px);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar__link {
  margin: 0 40px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 1rem;
  color: var(--font-light);
  cursor: pointer;
  position: relative;
}

.navbar__link::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -4px;
  height: 2px;
  background: var(--blue);
  transition-property: left, right;
  transition-duration: 0.2s;
}

.navbar__link:hover::after {
  left: 0;
  right: 0;
}

.navbar .btn {
  margin-left: 40px;
}

/*----- HERO -----*/

.hero {
  box-sizing: border-box;
  padding: 80px 0;
  width: 100vw;
  height: 850px;
  background-color: var(--grey1);
}

.hero__img-ct {
  margin: auto;
  width: 100%;
  max-width: 1584px;
  position: relative;
}

.hero__content {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.hero__title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 6.2rem;
  color: var(--font-dark);
}

.hero__text {
  margin-bottom: 40px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--font-light);
  line-height: 2.4rem;
}

.hero__img {
  height: 970px;
  width: auto;
  position: absolute;
  right: 0;
  top: -80px;
  z-index: 10;
}

@media (max-width: 1200px) {
  .hero__img {
    height: 800px;
    top: 0;
  }
}

/*----- SECTIONS -----*/

.section {
  box-sizing: border-box;
  padding: 100px 0;
  width: 100vw;
  background-color: var(--grey2);
}

.section--pt240 {
  padding-top: 240px;
}


.section__content {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__content--flexreverse {
  flex-direction: row-reverse;
}

.section__content--posrel {
  position: relative;
}

.section__brands-ct {
  display: flex;
  align-items: center;
  position: absolute;
  top: -180px;
  left: 0;
}

.section__brand {
  margin: 0 40px;
  width: 180px;
  height: auto;
}

.section__img {
  width: 500px;
  height: auto;
}

.section__title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 3rem;
  line-height: 5rem;
  color: var(--font-dark);
}

.section__text {
  margin-bottom: 40px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--font-light);
  line-height: 2.4rem;
}

.section__list {
  list-style: none;
}

.section__list li {
  margin: 15px 0;
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--font-dark);
  line-height: 2.4rem;
}

.section__list li:before {
  content: url(img/picto_check.png);
  position: relative;
  top: 5px;
  left: -20px;
}

/*----- PLANS -----*/
.plans {
  box-sizing: border-box;
  padding: 0 0 80px 0;
  width: 100vw;
  background-color: var(--grey2);
}

.plans__content {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plans__title {
  margin-bottom: 20px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 3rem;
  line-height: 5rem;
  color: var(--font-dark);
}

.plans__text {
  margin-bottom: 40px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--font-light);
  line-height: 2.4rem;
  text-align: center;
}

.plans__cards-ct {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.card {
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--white2);
  border-radius: 40px;
}

.card--posrel {
  position: relative;
  top: -20px;
}

.card--white {
  background-color: var(--white);
}

.card__recommended {
  box-sizing: border-box;
  width: 150px;
  height: 40px;
  background-color: var(--pink);
  border-radius: 20px;
  font-family: var(--font);
  font-weight: 700;
  font-size: .8rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
}

.card__picto {
  margin-bottom: 30px;
  width: 90px;
  height: auto;
}

.card__title {
  margin-bottom: 20px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--font-dark);
}

.card__text {
  font-family: var(--font);
  font-weight: 400;
  font-size: .9rem;
  color: var(--font-light);
  line-height: 1.8rem;
  text-align: center;
}

.card__price {
  margin: 30px 0;
  font-family: var(--font);
  font-weight: 700;
  font-size: 3rem;
  color: var(--font-logo);
}

.card__price .lighter {
  color: var(--font-lighter);
}

.card hr {
  width: 80%;
  height: 2px;
  border: none;
  border-top: 2px solid #DDDDDD;
}

.card__list {
  padding: 0;
  list-style: none;
}

.card__list li {
  margin: 15px 0;
  font-family: var(--font);
  font-weight: 400;
  font-size: .9rem;
  color: var(--font-dark);
}

.card__list li::before {
  content: url(img/picto_check_light.png);
  position: relative;
  top: 5px;
  left: -20px;
}

.card__list li.unavailable {
  color: var(--font-lighter);
}

.card__list li.unavailable::before {
  content: url(img/picto_check_light_unavailable.png);
}

/*----- NEWSLETTER -----*/

.contactform {
  box-sizing: border-box;
  padding: 80px 0;
  width: 100vw;
  background-color: var(--grey2);
}

.contactform__content {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactform__box {
  box-sizing: border-box;
  padding: 70px 40px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey1);
  border-radius: 40px;
  border-bottom-right-radius: 10px;
}

.contactform__picto {
  margin-bottom: 50px;
  width: 80px;
  height: auto;
}

.contactform__title {
  margin-bottom: 20px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 5rem;
  color: var(--font-dark);
}

.contactform__text {
  margin-bottom: 50px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--font-light);
  line-height: 2.4rem;
  text-align: center;
}

.contactform__input-ct {
  box-sizing: border-box;
  padding: 0 10px 0 20px;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 16px;
}

.contactform__input {
  margin: 0 20px 0 10px;
  width: 220px;
  height: 40px;
  border: none;
  font-family: var(--font);
  font-size: .9rem;
  color: var(--font-dark);
}

.contactform__input::placeholder {
  font-family: var(--font);
  font-size: .9rem;
  color: var(--font-light);
}

/*----- FOOTER -----*/

.footer {
  box-sizing: border-box;
  padding: 60px 0;
  width: 100vw;
  background-color: var(--grey2);
}

.footer__content {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__logo {
  height: 50px;
}

.footer__logo-ct {
  margin-bottom: 30px;
  display: flex;
  align-items: baseline;
}

.footer__logo-txt {
  margin-left: 20px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 2rem;
  color: var(--font-logo);
  transform: translateY(-2px);
}

.footer__left-text {
  margin-bottom: 30px;
  font-family: var(--font);
  font-weight: 400;
  font-size: .95rem;
  color: var(--font-light);
  line-height: 1.8rem;
}

.footer__socials-ct {
  display: flex;
}

.footer__social {
  margin: 0 17px;
  width: 40px;
  height: auto;
  cursor: pointer;
}

.footer__social:first-child {
  margin-left: 0;
}

.footer__right {
  box-sizing: border-box;
  padding-top: 20px;
  display: flex;
}

.footer__links-ct {
  margin: 0 60px;
}

.footer__links-ct:last-child {
  margin-right: 0;
}

.footer__links-title {
  margin-bottom: 40px;
  font-family: var(--font);
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--font-dark);
}

.footer__link {
  margin-bottom: 30px;
  max-width: fit-content;
  font-family: var(--font);
  font-weight: 400;
  font-size: .9rem;
  color: var(--font-light);
  cursor: pointer;
}